<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.4.custom.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}"></link>
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
	<script th:src="@{/js/jquery-ui-1.10.4.custom.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-table.js}"></script>
</head>
<body class="container">

    <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Bootstrap-table</h3>
		</div>
	
		<div class="form-group">
			<div class="col-sm-4">
                 <input type="text" class="form-control" name="searchContent" id="searchContent" placeholder="search content"/>
                 <button type="button" onclick="search()">search</button>
                 <button type="button" onclick="resetVal()">reset</button>
            </div>
		</div>
		
        <table data-toggle="table" id="table" data-height="400" data-classes="table table-hover">
			<thead>
				<tr>
					<th data-field="state" data-checkbox='ture'></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
		</table>
		
		<div>
		    <button id="btn_select" type="button" class="btn btn-default"></button>
		</div>
		
	</div>
	 




</body>
<script type="text/javascript">

$(function () {
	alert("jsa");
	var oTable = new TableInit();
	oTable.Init();
});

var TableInit = function () {
	var oTableInit = new Object();
   
	oTableInit.Init = function () {
		$("#table").bootstrapTable(
				{
					url : "list2",    //数据请求路径
					clickToSelect : true,  //点击表格项即可选择
					toolbar: '#toolbar',
					striped: true,
					cache: false,
					pagination: true,
					dataType : "json",   //后端数据传递类型
					method : 'get',      //请求类型
					sortable: true,
					sortName: 'id',
					sortOrder: "decs",
					sidePagination: "server",
					pageSize : 5,
					pageList : [ 5, 10, 20 ],
					search: false,
					strictSearch: true,
					showColumns: true,
					showRefresh: true,
					minimumCountColumns: 2,
					uniqueId: "id",
					showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
					cardView: false,                    //是否显示详细视图
					detailView: false,                   //是否显示父子表
					dataField : "data",  //很重要，这是后端返回的实体数据！					
					//是否显示详细视图和列表视图的切换按钮
					queryParams : function(params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的  
						return {//这里的params是table提供的  
							offset : params.offset,//从数据库第几条记录开始  
							limit : params.limit,
							sortName: params.sort,
							sortOrder: params.order,
							searchContent: $("#searchContent").val()
						//找多少条  
						};
					},
					responseHandler : function(res) {
						//在ajax获取到数据，渲染表格之前，修改数据源
						return res;
					},
					columns : [
							{
								field : 'state',
							},
							{
								field : 'id',
								title : 'ID',
								align : 'center',
								sortable : true
							},
							{
								field : 'day',
								title : 'Day',
								align : 'center',
								sortable : true
							},
							{
								field : 'time',
								title : 'Time',
								align : 'center',
								sortable : true
							},
							{
								field : 'doctorName',
								title : 'DoctorName',
								align : 'center'
							},
							{
								title : 'Action',
								field : 'id',
								align : 'center',
								formatter : function(value, row, index) {
									var e = '<a href="#" mce_href="#" onclick="edit(\''
											+ row.id + '\')">Edit</a> ';
									var d = '<a href="#" mce_href="#" onclick="del(\''
											+ row.id + '\')">Delete</a> ';
									return e + d;
								}

							} ]
				});
	};
	return oTableInit;
}

function search(){
	$("#table").bootstrapTable('refresh');
}

function resetVal(){
	$("#searchContent").val("");
	$("#table").bootstrapTable('refresh');
}

/*
	$("#table").bootstrapTable(
			{
				url : "list2",    //数据请求路径
				clickToSelect : true,  //点击表格项即可选择
				toolbar: '#toolbar',
				striped: true,
				cache: false,
				pagination: true,
				dataType : "json",   //后端数据传递类型
				method : 'get',      //请求类型
				sortable: true,
				sortName: 'id',
				sortOrder: "decs",
				sidePagination: "server",
				
				
				pageSize : 5,
				pageList : [ 5, 10, 20 ],
				search: false,
				strictSearch: true,
				showColumns: true,
				showRefresh: true,
				minimumCountColumns: 2,
				uniqueId: "id",
				showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
				cardView: false,                    //是否显示详细视图
				detailView: false,                   //是否显示父子表
				dataField : "data",  //很重要，这是后端返回的实体数据！					
				//是否显示详细视图和列表视图的切换按钮
				queryParams : function(params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的  
					return {//这里的params是table提供的  
						offset : params.offset,//从数据库第几条记录开始  
						limit : params.limit,
						sortName: params.sort,
						sortOrder: params.order,
						searchContent: $("#searchContent").val()
					//找多少条  
					};
				},
				responseHandler : function(res) {
					//在ajax获取到数据，渲染表格之前，修改数据源
					return res;
				},
				columns : [
						{
							field : 'state',
						},
						{
							field : 'id',
							title : 'ID',
							align : 'center',
							sortable : true
						},
						{
							field : 'day',
							title : 'Day',
							align : 'center',
							sortable : true
						},
						{
							field : 'time',
							title : 'Time',
							align : 'center',
							sortable : true
						},
						{
							field : 'doctorName',
							title : 'DoctorName',
							align : 'center'
						},
						{
							title : 'Action',
							field : 'id',
							align : 'center',
							formatter : function(value, row, index) {
								var e = '<a href="#" mce_href="#" onclick="edit(\''
										+ row.id + '\')">Edit</a> ';
								var d = '<a href="#" mce_href="#" onclick="del(\''
										+ row.id + '\')">Delete</a> ';
								return e + d;
							}

						} ]
			});

function search(){
	$("#table").bootstrapTable('refresh');
}

function resetVal(){
	$("#searchContent").val("");
	$("#table").bootstrapTable('refresh');
}
*/

</script>
</html>